.gitlogplugin li.commit {
	margin-bottom: 10px;
}

.gitlogplugin li.commit span.message {
	font-weight: bold;
}

.gitlogplugin li.commit span.meta {
	float: right;
}

.gitlogplugin a.seechanges {
	font-size: 90%;
}

.gitlogplugin li.commit ul.changedfiles{
	display: none;
	clear: both;
	font-size: 90%;
	margin: 10px 0px 40px 20px;
}